# Binaries
bin/
/agent
/keeper
/operator
/bff
/ui-server

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Go
vendor/

# Helm
deploy/helm/tacito-square/charts/
deploy/helm/tacito-square/Chart.lock

# UI
node_modules/
ui/configurator/dist/
